*{
    margin:0;
    padding:0;
}
/*style the title*/
.title{
    font-size:30px;
    font-family:Georgia;
    padding:10px 10px;
}
/*style the menunvbr*/
.menunvbr a{
    position: relative;
    top:-45px;
    left:40%;
    word-spacing:15px;
    font-family:georgia;
    text-decoration:none;
    color:lime;

}
/* Style the menu button container */
.menu-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 5px;
    left:95%;
    padding-top:12.5px;
}
/*style the navbar*/
.navbar{
    position:absolute;
    background-color:dodgerblue;
    width:100%;
    height:60px;
}
/* Style the individual bars */
.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Style the menu list */
.menu-list {
    position: absolute;
    top: 40px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color:blueviolet;
    list-style-type:none;
    padding: 20px 0px;
    display: none; /* Hide the menu initially */
    border: 3px solid lime;
    border-radius:20px;
    box-shadow: 0px 2px 5px rgba(249, 227, 31, 0.2);
    width:320px;

}
.menu-list li a{
    text-decoration:none;
    font-family:georgia;
    color:lime;
}
.menu-list li {
    margin-bottom: 10px;
    padding:20px;
    margin-right:70px;
}
li a{
    background-color:dodgerblue;
    padding:20px 100px;
    margin:2px 20px;
    border-radius:20px;
    
}
/* Show the menu when the checkbox is checked */
#menu-toggle:checked ~ .menu-list {
    display:block;
}
input[type=checkbox]{
    display:none;
}
.scrolltext p{
    animation:scrolling 15s linear infinite;
    position:relative;
    width:600%;
    overflow: hidden;
}

.scrolltext{
    position: relative;
    width:300px;
    height:30px;
    overflow: hidden;
    font-family:georgia;
    font-size:25px;
    background-color:skyblue;
    border-radius:7px;
    
}

/* Style the neon border container */
.neon-border {
    width: 300px;
    height: 30px;
    position: relative;
    top:20px;
    left:37%;
    animation: neon-border 2s infinite;
    border-radius:10px;
}
.navbarbtm{
    display:none;
}


/* Define the neon border animation */
@keyframes neon-border {
    0% {
        border: 2px solid #9d00ff; /* Neon green */
        box-shadow: 0 0 10px #bb57f9; /* Neon green */
    }
    50% {
        border: 2px solid #a459fe; /* Bright green */
        box-shadow: 0 0 20px #967bb6; /* Bright green */
    }
    100% {
        border: 2px solid #c494ff; /* Neon green */
        box-shadow: 0 0 10px #9d00ff; /* Neon green */
    }
}

@keyframes scrolling{
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(-100%);
    }
}

@media screen and (max-width:420px){
    .menunvbr{
        display:none;
    }
    html, body{
        overflow-x:hidden;
    }
    .menu-button{
        position: relative;
        left:86%;
    }
    .menu-list{
        height:90vw;
        width:80vw;
        z-index:1;
        top:20vw;
    }
    li a{
        background-color:dodgerblue;
        position: relative;
        top:10vw;
        left:-2vw;
        border-radius: 15vw;
        font-family:Georgia;
        text-decoration: none;
    }
    .scrolltext{
        width:100%;
    }
    .navbar{
        position:fixed;
        z-index:1;
        left:0.5vw;
        border-bottom-left-radius:5vw;
        border-bottom-right-radius:5vw;
    }
    .menu-button{
        position:fixed;
        top:0px;
        z-index:1;
    }
    .neon-border{
        position:absolute;
        top:65px;
        left:1.7px;
        width:98%;
    }
    .img1{
        background-image: url(images/IMG_4732.jpg);
        height:300px;
        background-size:100%;
        background-repeat: no-repeat;
        position: relative;
        top:109px;
    }
    .ml{
        /*display:block;*/
        position: relative;
        top:23vw;
        left:10vw;
    }
    .mlpic{
        display:block;
        background-image:url(images/IMG_4742.jpg);
        width:32vw;
        height:41vw;
        background-size:100%;
        background-repeat:no-repeat;
        border-radius:5vw;
        position: relative;
        top:6vw;
    }
    .pic1{
        position:relative;
        top:1vw;
        font-size:20px;
        left:-5vw;
        font-family: georgia;
        font-weight:bold;
    }
    .tablet{
        /*display:block;*/
        position:relative;
        left:60vw;
        top:-19vw;
    }
    .tlpic{
        display:block;
        background-image:url(images/IMG_4740.jpg);
        background-size:100%;
        background-repeat:no-repeat;
        width:32vw;
        height:41vw;
        border-radius:5vw;
        position: relative;
        top:1.2vw;
    }
    .pic2{
        position: relative;
        top:-3.9vw;
        font-family: georgia;
        font-size:20px;
        font-weight: bold;
        left:-4vw;
    }
    .dsktp{
        /*display:block;*/
        position:relative;
        left:16vw;
        top:-5vw;
    }
    .pic3{
        position: relative;
        top:1vw;
        font-family: georgia;
        font-size:20px;
        font-weight: bold;
        left:14vw;
    }
    .dsktppic{
        display:block;
        background-image:url(images/IMG_4738.jpg);
        background-size:100%;
        background-repeat:no-repeat;
        width:70vw;
        height:50vw;
        border-radius:7.8vw;
        position: relative;
        top:5vw;
    }
    .navmenubtm{
        position: fixed;
        width:100vw;
        background-color: dodgerblue;
        border-top-left-radius:5vw;
        border-top-right-radius: 5vw;
        
    }
    .hme{
        position: relative;
        top:-1.5vw;
        left:8vw;
        height:20vw;
        width:20vw;
    }
    .abt{
        position: relative;
        top:-1.5vw;
        left:10vw;
        height:20vw;
        width:20vw;
    }
    .srvcs{
        position: relative;
        top:-1.5vw;
        left:12vw;
        height:20vw;
        width:20vw;
    }
    .cntct{
        position: relative;
        top:-1.5vw;
        left:14vw;
        height:20vw;
        width:20vw;
    }
    .imgbx {
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        padding: 20px;
        background-color: skyblue;
        position: relative;
        top:10vw;
    }
    
    .imgbx img{
        display: inline-block;
        height: 200px;
        margin-right: 20px;
        border-radius:10vw;
    }
    .textimg h2{
        background-color: #a459fe;
        height:150px;
        font-size:10vw;
    }
}
@media screen and (max-height:920px){
    .navbarbtm,.navmenubtm{
        display:block;
        position:fixed;
        top:90.8vh;
        left:0.0vw;
    }
    .navmenubtm{
        height:10vh;
    }
}
